
 /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    /* Colors */
    --color-dark-gray: #252F38;
    --color-light-gray: #D4D5D7;
    --color-blake-gray: #8A9BAC;
    --color-gray: #515960;
    --color-red: #D10015;
    --color-yellow: #FBBA06;
    --color-purple: #A091B3;
    --color-green: #BADF93;
  }
  